* {
    box-sizing: border-box;
}
html {
    /* background-color: #f5e1da; */
}
#login main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#login h1 {
    text-align: center;
}
#login form input {
    width: 100%;
    margin-bottom: 1.5rem;
}
