* {
    box-sizing: border-box;
}
.userform {
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.userform main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.2rem;
    width: 100%;
}
.userform h1 {
    text-align: center;
}
.userform form {
    background-color: #f5e1da;
    padding: 2rem;
    border-radius: 10px;
}
.userform form input, .userform form select {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
#bgimg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: absolute;
    top: -30%;
    left: 0;
}
#bgimg img {
    height: 100%;
}

#register main {
    font-size: 1rem;
}
#register form {
    width: 80%;
}
#register form input, #register form select {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
}
table tr td {
    padding: 0.4rem;
}
#approvaltable th:nth-child(-n+2){
    background-color: #085f63;
    color: #f1f1f1;
    border: 1px solid black;
}
#approvaltable a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
}
#approvaltable a#approve {
    background-color: #195a09;
}
#approvaltable a#approve:hover {
    background-color: #348b1e;
}
#approvaltable a#remove {
    background-color: #7a0d0d;
}
#approvaltable a#remove:hover {
    background-color: #9c2c2c;
}
.nav-anchor {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.nav-li {
  display: inline-block;
  background-color: #085f63;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
}

.nav-li:hover {
  background-color: #49beb7;
}

.nav-li form {
  margin-bottom: 0px;
}

nav {
  background-color: #085f63;
  margin-top: -16px;
  margin-left: -10px;
  margin-right: -10px;
}

.nav-list {
  padding-left: 0px;
}

.logout {
  background-color: #085f63;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 0.9em;
  transition: 0.3s;
}

.logout:hover {
  background-color: #49beb7;
}

#new_roster input, #new_roster select {
    margin-right: 1rem;
}
select {
    border: 1px solid #085f63;
    background-color: #085f63;
    color: #f1f1f1;
}
select:hover {
    background-color: #49beb7;
    color: black;
}
#supervisordoctor, #caregivers {
    margin-bottom: .5rem;
}
#register select {
    border: 1px solid gray;
    background-color: white;
    color: black;
}