* {
    box-sizing: border-box;
}
.userform {
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.userform main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.2rem;
    width: 100%;
}
.userform h1 {
    text-align: center;
}
.userform form {
    background-color: #f5e1da;
    padding: 2rem;
    border-radius: 10px;
}
.userform form input, .userform form select {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
#bgimg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: absolute;
    top: -30%;
    left: 0;
}
#bgimg img {
    height: 100%;
}

#register main {
    font-size: 1rem;
}
#register form {
    width: 80%;
}
#register form input, #register form select {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
}
table tr td {
    padding: 0.4rem;
}
#approvaltable th:nth-child(-n+2){
    background-color: #085f63;
    color: #f1f1f1;
    border: 1px solid black;
}
#approvaltable a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
}
#approvaltable a#approve {
    background-color: #195a09;
}
#approvaltable a#approve:hover {
    background-color: #348b1e;
}
#approvaltable a#remove {
    background-color: #7a0d0d;
}
#approvaltable a#remove:hover {
    background-color: #9c2c2c;
}
.nav-anchor {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.nav-li {
  display: inline-block;
  background-color: #085f63;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
}

.nav-li:hover {
  background-color: #49beb7;
}

.nav-li form {
  margin-bottom: 0px;
}

nav {
  background-color: #085f63;
  margin-top: -16px;
  margin-left: -10px;
  margin-right: -10px;
}

.nav-list {
  padding-left: 0px;
}

.logout {
  background-color: #085f63;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 0.9em;
  transition: 0.3s;
}

.logout:hover {
  background-color: #49beb7;
}

#new_roster input, #new_roster select {
    margin-right: 1rem;
}
form.grayblock {
    display: inline-block;
    background-color: #f1f1f1;
    width: 600px;
    padding: 1rem;
}
form.grayblock input, form.grayblock select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
    form.grayblock {
        width: 100%;
    }
}
#role-table th:nth-child(-n+2){
    background-color: #085f63;
    color: #f1f1f1;
    border: 1px solid black;
}

#role-table td {
  text-align: center;
}

#roster-table {
  margin-top: 10px;
}

th {
    background-color: #085f63;
    color: #f1f1f1;
    border: 1px solid black;
    padding: 2px;
}

#roster-table td {
  text-align: center;
}

.new-role {
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #085f63;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
}

input[type="submit"]:hover {
  background-color: #49beb7;
}

/* use this on any submit button that is part of searching a table, so it's not gray */
.form-row-submit {
  background-color: white;
}

tr:nth-of-type(2n + 2) {
  background-color: #f1f1f1;
}
#payment {
    text-align: center;
    border: 1px solid #c7c7c7;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px #acacac;
    width: 300px;
}
#nologinhome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
#nologinhome a {
    display: inline-block;
    text-decoration: none;
    font-size: 5vw;
    width: 30vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    background-color: #f5e1da;
    color: black;
    border-radius: 10px;
    transition: 0.3s;
    margin: 0 1vw;
}
#nologinhome a:hover {
    background-color: #f1cec1;
    width: 30.5vw;
    padding-top: 10.5vh;
    padding-bottom: 10.5vh;
}